<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <p><a href="/flights">See List of Flights</a> | <a href="/flights/new">Add a New Flight</a></p>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
