<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <p><a href="/">Home</a> | <a href="/flights">List of Flights</a> | <a href="/flights/new">Add a New Flight</a></p>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
