<%- include('../partials/header') %>

    <form action="/flights" method="POST">
        <label>Airline:
            <input type="text" name="airline">
        </label>
        <label>Flight Number:
            <input type="text" name="flightNo">
        </label>
        <label>Departure Date:
            <input type="date" class="datepicker" name="departs-date" placeholder="yyyy-mm-dd">
        </label>
        <label>Departure Time:
            <input type="time" class="timepicker" name="departs-time" placeholder="hh:mm">
        </label>

        <button class="btn waves-effect waves-light" type="submit" name="add-flight">Add Flight</button>
    </form>
    

    <%- include('../partials/footer') %>
