<%- include('../partials/header') %>

<form class="grid" action="/flights" method="POST">
    <label>Airline:</label>
        <input type="text" name="airline">
    
    <label>Flight Number:</label>
        <input type="text" name="flightNo">
    
    <label>Departure Date:</label>
        <input type="date" class="datepicker" name="departs-date" placeholder="yyyy-mm-dd">
    
    <label>Departure Time:</label>
        <input type="time" class="timepicker" name="departs-time" placeholder="hh:mm">
    
    <label>Airport of Departure:</label>
        <select name="airport">
            <option value="">--select airport--</option>
            <option value="AUS">Austin Bergstrom International Airport</option>
            <option value="DAL">Dallas Love Field Airport</option>
            <option value="LAX">Los Angeles International Airport</option>
            <option value="SAN">San Diego</option>
            <option value="SEA">Seattle, Tacoma International Airport</option>
        </select>
    

    <button class="btn waves-effect waves-light" type="submit" name="add-flight">Add Flight</button>
</form>


<%- include('../partials/footer') %>